<!--

-->
<ion-header>
  <ion-navbar>
    <ion-title text-center>Log In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <img text-center padding-top="25px" src="assets/images/ts_logo_black_red.png" />
  
    <ion-list>
      <ion-item>
        <ion-label floating>Account</ion-label>
        <ion-input [(ngModel)]="account" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block (click)="login()" style="margin-top:50px">Log In</button>
 
</ion-content>
