page-login {
	img {
		margin-top: 15px;
		margin-bottom: 5%;
	}
}

.loginErrorToast {
	> div {
		background-color: #F53D3D !important;
		text-align: center;
		font-size: 1.65rem;
    opacity: 0.96;
	}
}
