
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>User Details and Contact</ion-list-header>
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input type="text" name="firstName" [(ngModel)]="userDetails.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input type="text" name="lastName" [(ngModel)]="userDetails.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" name="title" [(ngModel)]="userDetails.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email Address</ion-label>
      <ion-input type="email" name="emailAddress" [(ngModel)]="userDetails.emailAddress"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile Phone</ion-label>
      <ion-input type="tel" name="mobilePhone" [(ngModel)]="userDetails.mobilePhone"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Temperature Units</ion-list-header>
  <ion-segment [(ngModel)]="userDetails.metric">
    <ion-segment-button name="metric" [value]="true">°C</ion-segment-button>
    <ion-segment-button name="metric" [value]="false">°F</ion-segment-button>
  </ion-segment>
  </ion-list>

  <button ion-button block color="accent" (click)="saveProfileEdit($event, userDetails)">Save</button>
</ion-content>
