page-alerts {

  .noActiveAlerts {
    margin-top: 45%;
  }

  .noInProgAlerts {
    margin-top: 45%;
  }
  
}

.ackSuccessToast {
  > div {
    background-color: #32db64 !important;
    font-size: 1.65rem;
    opacity: 0.96;
    text-align: center;
  }
}

.ackFailToast {
  > div {
    background-color: #f53d3d !important;
    font-size: 1.65rem;
    opacity: 0.96;
    text-align: center;
  }
}
