<!--

-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alerts</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="alertState">
    <ion-segment-button value="active">Active</ion-segment-button>
    <ion-segment-button value="inProgress">Unresolved</ion-segment-button>
    <ion-segment-button value="resolved">Resolved</ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <div [ngSwitch]="alertState">

    <ion-list *ngSwitchCase="'active'">

      <div class="noActiveAlerts" *ngIf="alertsService.activeAlertsDisplay.length == 0" padding>
        <h3 text-center>No Active Alerts</h3>
        <h5>Check "In Progress" tab to check on any alert(s) that have been acknowledged but have not yet resolved.</h5>
      </div>

      <ion-item-sliding *ngFor="let alert of alertsService.activeAlertsDisplay">
        <ion-item detail-push (click)="viewAlertDetails(alert)">
          <ion-icon name="alert" color="danger" item-start></ion-icon>
          <h2>{{ alert.alert_name }}</h2>
          <p>{{ alert.localeString }}</p>
        </ion-item>
        <ion-item-options>
          <button ion-button color="success" (click)="ackAlert($event, alert)">
            Acknowledge
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

    <ion-list *ngSwitchCase="'inProgress'">

      <div class="noInProgAlerts" *ngIf="inProgressAlerts.length == 0 && inProgressAlertsDisplay.length == 0" padding>
        <h3 text-center>No In Progress Alerts</h3>
        <h5>"Active Alerts" that have been acknowledged will be moved here. Once the violation that triggered the alert is resolved, the alert will be moved to "Resolved".</h5>
      </div>

      <ion-item *ngFor="let alert of alertsService.inProgressAlertsDisplay" detail-push (click)="viewAlertDetails(alert)">
        <ion-icon name="warning" color="caution" item-start></ion-icon>
        <h2>{{ alert.alert_name }}</h2>
        <p>{{ alert.localeString }}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'resolved'">

      <div class="noResolvedAlerts" *ngIf="resolvedAlerts.length == 0" padding>
        <h3 text-center>No Resolved Alerts</h3>
      </div>

      <ion-item *ngFor="let alert of alertsService.resolvedAlertsDisplay" detail-push (click)="viewAlertDetails(alert)">
        <ion-icon name="checkmark-circle" color="success" item-start></ion-icon>
        <h2>{{ alert.alert_name }}</h2>
        <p>{{ alert.localeString }}</p>
      </ion-item>
      
    </ion-list>

  </div>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  -->
</ion-content>
