<!--
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Device Status</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let device of devices">

      <div *ngIf="device.model != 'ts130'">

        <h1>
          {{ device.MyName }}
          <ion-icon 
            *ngIf="!device.isOffline" 
            class="statusIcon" 
            name="ios-radio-button-on" 
            color="success" 
            float-right>
          </ion-icon>
          <ion-icon 
            *ngIf="device.isOffline" 
            class="statusIcon" 
            name="ios-radio-button-on" 
            color="danger" 
            float-right>
          </ion-icon>
        </h1>

        <p>{{ device.name }}</p>
        <h2>
          <ion-icon name="md-time" class="timeIcon"></ion-icon>
          {{ device.parsedLastUpdate }}
        </h2>
        <h2>
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          <span *ngIf="!device.isOffline"> {{ device.tc1 }} {{ unitString }}</span>
          <span *ngIf="device.isOffline">--</span>
        </h2>
        <h2 *ngIf="device.tc2">
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          <span *ngIf="!device.isOffline"> {{ device.tc2 }} {{ unitString }}</span>
          <span *ngIf="device.isOffline">--</span>
        </h2>
        <h2 *ngIf="device.humidity">
          <ion-icon name="ios-water"></ion-icon>
          <span *ngIf="!device.isOffline">{{ device.humidity }} %</span>
          <span *ngIf="device.isOffline">--</span>
        </h2>
      </div>

      <div *ngIf="device.model == 'ts130'">
        <h1>{{ device.MyName }}</h1>
        <p>{{ device.name }}</p>
        <h2>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (1) {{ device.tc1 }} {{ unitString }}<br/>

          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (2) {{ device.tc2 }} {{ unitString }}<br/>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (3) {{ device.tc3 }} {{ unitString }}<br/>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (4) {{ device.tc4 }} {{ unitString }}<br/>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (5) {{ device.tc5 }} {{ unitString }}<br/>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (6) {{ device.tc6 }} {{ unitString }}<br/>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (7) {{ device.tc7 }} {{ unitString }}<br/>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (8) {{ device.tc8 }} {{ unitString }}<br/>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (9) {{ device.tc9 }} {{ unitString }}<br/>
          
          <ion-icon name="ios-thermometer-outline"></ion-icon>
          (10) {{ device.tc10 }} {{ unitString }}
          
        </h2>
      </div>

    </ion-item>
    <!--
    <ion-item *ngFor="let device of devices; let i = index">
      <h1>{{ device.MyName }}</h1>
      <p>{{ device.name }}</p>
      <div *ngIf="device.expanded">
        <p>
          <span *ngIf="device.model == 'ts130'">Temp.1:</span>
          <span *ngIf="device.model != 'ts130'">
            <ion-icon ios="ios-thermometer-outline" md="ios-thermometer-outline"></ion-icon>
          </span>
          {{ device.tc1 }}
        </p>
        <span *ngIf="device.model == 'ts130'">
          <p>Temp.2: {{ device.tc2 }}</p>
          <p>Temp.3: {{ device.tc3 }}</p>
          <p>Temp.4: {{ device.tc4 }}</p>
          <p>Temp.5: {{ device.tc5 }}</p>
          <p>Temp.6: {{ device.tc6 }}</p>
          <p>Temp.7: {{ device.tc7 }}</p>
          <p>Temp.8: {{ device.tc8 }}</p>
          <p>Temp.9: {{ device.tc9 }}</p>
          <p>Temp.10: {{ device.tc10 }}</p>
        </span>
        <p *ngIf="device.humidity">{{ device.humidity }}%</p>
        <p *ngIf="device.rssi">{{ device.rssi }}</p>
        <p *ngIf="device.vin">{{ device.vin }}</p>
      </div>
      <button *ngIf="!device.expanded" ion-button small outline round item-end color="primary" (click)="showMore(device)">show more</button>
      <button *ngIf="device.expanded" ion-button small outline round item-end color="primary" (click)="showLess(device)">show less</button>
    </ion-item>
  -->
  </ion-list>

</ion-content>
