<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
      <ion-buttons right>
        <button ion-button icon-only menuClose>
          <ion-icon name="arrow-back" color="primary"></ion-icon>
          <!-- Other Icon Options -->
          <!--<ion-icon name="close" color="primary"></ion-icon-->
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-right [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <button ion-button block color="caution" (click)="logout()" menuClose>Log Out</button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>