<!--

-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons right>
      <button ion-button clear="true" (click)="editProfile($event, userDetails)">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="userDetails">
    <ion-item-divider>User Details & Contact</ion-item-divider>
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <div item-end>{{ userDetails.firstName }}</div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <div item-end>{{ userDetails.lastName }}</div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <div item-end>{{ userDetails.emailAddress }}</div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile Phone</ion-label>
      <div item-end>{{ userDetails.countryCode }} {{ userDetails.mobilePhone }}</div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <div item-end>{{ userDetails.title }}</div>
    </ion-item>
    <ion-item-divider padding-top>Preferences</ion-item-divider>
    <ion-item>
      <ion-label stacked>Temperature Display</ion-label>
      <div item-end *ngIf="userDetails.metric">Celsius</div>
      <div item-end *ngIf="!userDetails.metric">Fahrenheit</div>
    </ion-item>
  </ion-list>

</ion-content>
