<!--

-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ alert.alert_name }} Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <div>
      <h3>Alert Name</h3>
    </div>
    <div class="item-note" item-right>
      {{ alert.alert_name }}
    </div>
  </ion-item>

  <ion-item>
    <div>
      <h3>
        Parent Device Name
      </h3>
    </div>
    <div item-end>
      <p>
        {{ parentDeviceName }}
      </p>
    </div>
  </ion-item>
  
  <ion-item>
    <div>
      <h3>
        Parent Device UUID
      </h3>
    </div>
    <div item-end>
      <p>
        {{ alert.source }}
      </p>
    </div>
  </ion-item>

  <ion-item>
    <div>
      <h3>Time of Violation</h3>
    </div>
    <div item-end>
      <p>{{ parsedTimestamp }}</p>
    </div>
  </ion-item>

  <ion-item text-wrap>
    <div>
      <h3>Message</h3>
    </div>
    <div>
      <p>{{ message }} {{ threshold }} {{ unit }}.</p>
    </div>
  </ion-item>

  <ion-item *ngIf="alertState === 'resolved'">
    <div>
      <h3>
        Resolution
      </h3>
    </div>
    <div item-end>
      <p>{{ resolution }}</p>
    </div>
  </ion-item>

  <button ion-button block *ngIf="alertState === 'active'" [disabled]="disableAck" color="success" (click)="ackAlert($event, alert)">Acknowledge</button>

</ion-content>
